/* -----------------------------------------General Page Styling---------------------------------------------- */
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* ----------------------------Heading--------------------------------- */
.main-header {
    color: #2c3e50;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 12px 24px;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo {
    height: 50px;
    width: auto;
}

.right-section button {
    margin-top: 27px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.right-section button:hover {
    background-color: white;
    color: black;
    font: bold;
    
}

/* --------------------------------------------Review Card-------------------------------------- */
div.review-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* ------------------------------------------Book Title--------------------------------------- */
h3 {
    color: #2980b9;
    margin-top: 0;
}

/* -------------------------------------------Book Image--------------------------------------- */
img {
    display: block;
    margin: 10px 0;
    border-radius: 6px;
    max-width: 100%;
    height: auto;
}

/* -----------------------------------------Book URL link------------------------------------------ */
a {
    color: #27ae60;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------Review Text------------------------------------------ */
p {
    line-height: 1.6;
    margin: 8px 0;
}

/* ---------------------------------------------Reviewed By--------------------------------------------- */
em {
    color: #7f8c8d;
}

/* ---------------------------------------------Horizontal Rule---------------------------------------------- */
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
