{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
 <h1>Book_Review Form</h1>
 <form method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
    <label>book_name:</label>
    {{form.book}}
    {% comment %} <select name="book" id="bookSelect" required>
      <option value="">Loading books...</option>
    </select>  {% endcomment %}
    {% comment %} <input type="text" name="book_name" required> {% endcomment %}
    <br>   
    <label>book_photo:</label>
    <input type="file" name="book_photo" accept="image/*" required>
    <br>
    <label>book_url</label>
    <input type="url" name="book_url" required>
    <br>
    <label>book_review:</label>
    <textarea name="book_review" rows="4" cols="50" required></textarea>
    <br>    
  <button type="submit">Save</button>
 </form>
</body>
</html>
